<div >
  <%= render partial: 'menu' %>
  <div class="quote">
    <quote><i><%= @quote.text %></i></quote>
    <hr />
    <div class="back">
      <div class="name"><%= @quote.author %></div>
    </div>
  </div>
</div>