<div>
  <%= render partial: 'menu' %>
  <div class="submit">
    <h3>Submit a Quote</h3>
    <div class="form">
      <%= form_with model: @quote, url: home_index_path, method: "post" do |form| %>
        <div class="field">
          <span><%= form.label :author, "Author" %></span>
          <%= form.text_field :author %>
        </div>
        <div class="field">
          <span><%= form.label :text, "Quote" %></span>
          <%= form.text_area :text, size: "60x10" %>
        </div>
        <div class="field">
          <%= form.submit "Submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>