body, html {
  height: 100%;
  color: white;
}

#background {
  /* The image used */
  background-image: url('/assets/bg.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  text-align: right;
  padding-top: 5px;
}
nav ul{
  list-style:none;
}

nav ul li{
  display: inline;
  margin: 20px;
}

nav ul li a {
  font-size: 25px;  
  color: beige;
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline;
}

.quote { 
  text-align: center;
  padding-top: 200px;
  font-size: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote quote{
  color: white;
}

.quote .back{
  background-color: white;
  opacity: 0.6;
}

.quote .back .name{
  padding: 20px;
  font-size: 40px;
  color: black;
}

.submit{
  
  padding-top: 150px;
}

.submit h3{
  text-align: center;
  font-size: 50px;
}

.submit .form{
  margin-left: 35%;
}

.submit .form .field{
  margin: 10px;
}
.submit .form .field span{
  width: 150px;
  display: block;
  font-size: 20px;
}
.submit .form .field input[type=submit]{
  font-size: 20px;
  background-color:beige;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
hr{
  width: 70%;
  color: white;
  opacity: 0.7;
}